.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.spinnerWrapper {
  display: inline-flex;
}

.text {
  font-size: 1rem;
  font-weight: 500;
}

.sizeSmall {
  font-size: 12px;
  line-height: 1rem;
}

.sizeMedium {
  font-size: 18px;
  line-height: 28px;
}

.sizeLarge {
  font-size: 1.5rem;
  line-height: 2rem;
}

.colorLight {
  color: #ffffff;
}

.colorDark {
  color: #1f2937;
}
